body, html {
	margin: 0;
	padding: 0
	width: 100%;
	min-height: 100%;
    height: 100%;
	text-align: center;
	overscroll-behavior: contain;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section#game {
	background-color: #33FCFF;
	width: 100%;
    height: 100%;
    overflow: hidden;
	display: flex;
	align-items: center; 
	justify-content: center;
}

section#game #canvas {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	position: absolute;
	top: 0%;
	left: 0%;
}

canvas {
	background-color: #33FCFF;
	/*background-image: url("medals/gold.png"), url("medals/silver.png"), url("medals/bronze.png");
	background-position: 20% 20%, 50% 20%, 70% 20%, center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 67px auto, 75px auto, 60px auto;*/
	width: 100%;
	height: 100%;
	margin: 0;
}    

section#game #options-box {
	color: indigo;
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 60%;
	left: 0%;
}

section#game #edit-box {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	top: 55%;
	left: 0%;
}

#arrow-box {
	width: 100%;
	height: 20%;
	display: flex;
}

#edit-box #left, #edit-box #right {
	width: 50%;
	height: 3em;
}

#name-input {
	background: rgba(0,0,0,0.1);
	border-radius: 4px;
	width: 17em;
	height: 2.5em;
	align-self: center;
	text-align: center;
}

#select-player-button-box {
	width: 500px;
	max-width: 80%;
	height: 2.5em;
	align-self: center;
	display: flex;
	justify-content: space-between;
}

#select-player-button-a {
	color: #33FCFF;
	font-size: 1.5em;
	width: 4em;
	height: 100%;
	border-radius: 4px;
	background-color: green;
	
}

#select-player-button-b {
	color: #33FCFF;
	font-size: 1.5em;
	width: 4em;
	height: 100%;
	border-radius: 4px;
	background-color: red;
	
}



#backward {
	grid-area: left;
}

#forward {
	grid-area: right;
}

section#game #control-box {
	width: 100%;
	height: 40%;
	position: absolute;
	top: 60%;
	left: 0%;
	display: flex;
	flex-direction: column;
	
	/*grid-template-areas: 
		"left up up right"
		"left down down right";*/
}

#upward , #downward{
	width: 100%;
	height: 50%;
}

section#game #finished-box {
	width: 100%;
	height: 40%;
	position: absolute;
	top: 60%;
	left: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#finished-button {
	color: #33FCFF;
	background-color: green;
	font-size: 1.5em;
	width: 5em;
	height: 1.6em;
	border-radius: 4px;
}

:-webkit-full-screen {
  background-color: #33FCFF;
  
}

:-ms-fullscreen {
  background-color: #33FCFF;
  
}

:fullscreen {
  background-color: #33FCFF;
  
}