body, html {
	font-family: monospace; 
	margin: 0;
	padding: 0
	min-width: 100%;
	width: 100%;
	min-height: 100%;
    height: 100%;
	text-align: center;
	overscroll-behavior: contain;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section#game {
	background-color: #33FCFF;
	width: 100%;
    height: 100%;
    overflow: hidden;
	display: flex;
	align-items: center; 
	justify-content: center;
}

section#game #cancel {
	width: 3em;
	height: auto;
	position: absolute;
	top: 4%;
	left: 5%;
	z-index: 100;
}

section#game #canvas {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	position: absolute;
	top: 0%;
	left: 0%;
}

canvas {
	background-color: #33FCFF;
	/*background-image: url("medals/gold.png"), url("medals/silver.png"), url("medals/bronze.png");
	background-position: 20% 20%, 50% 20%, 70% 20%, center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 67px auto, 75px auto, 60px auto;*/
	width: 100%;
	height: 100%;
	margin: 0;
}    

section#game #loadscreen-box {
	color: indigo;
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 40%;
	left: 0%;
}

section#game #options-box {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 60%;
	left: 0%;
}

#options-a, #options-b, #options-c, #options-d {
	color: indigo;
	font-size: 1.5em;
}

#options-a:hover , #options-b:hover, #options-c:hover, #options-d:hover{
	color: blue;
	font-size: 1.7em;
}

section#game #edit-box {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	top: 55%;
	left: 0%;
}

#arrow-box {
	width: 100%;
	height: 20%;
	display: flex;
}

#edit-box #left, #edit-box #right {
	width: 50%;
	height: 3em;
}

#name-input {
	color: white;
	border: none;
	border-bottom: solid 1px indigo;
	font-size: 1em;
	background: rgba(0,0,0,0.1);
	border-radius: 4px;
	width: 12.5em;
	height: 2.5em;
	margin-bottom: 0;
	align-self: center;
	text-align: center;
}

::placeholder {
	color: white;
	font-family: monospace;
}

#select-player-button {
	color: #33FCFF;
	font-size: 1.5em;
	font-family: monospace;
	width: 6em;
	height: 1.6em;
	margin-top: 0;
	align-self: center;
	border-radius: 4px;
	background-color: green;
}

section#game #control-box {
	width: 100%;
	height: 40%;
	position: absolute;
	top: 60%;
	left: 0%;
	display: flex;
	flex-direction: column;
}

/*#control-box img {
	width: 3.5em;
	height: auto;
	display: none;
}*/

#upward , #downward{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
} 

#upward {
	background-image: url(" interact/up-arrow (5).png");
	background-position: 50% 120%;
	background-repeat: no-repeat;
	background-size: 10% auto;
	transition:  0.2s;
}

#downward{
	background-image: url(" interact/down-arrow (3).png");
	background-position: 50% -20%;
	background-repeat: no-repeat;
	background-size: 10% auto;
	transition:  0.1s;
}

/*#upward:hover, #downward:hover {
	background-color: red;
}*/

section#game #finished-box {
	width: 100%;
	height: 40%;
	position: absolute;
	top: 60%;
	left: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#finished-button {
	color: #33FCFF;
	font-family: monospace;
	background-color: green;
	font-size: 1.5em;
	width: 6em;
	height: 1.6em;
	border-radius: 4px;
}

section#game #credits-box {
	font-family: monospace;
	background-color: rgba(0,0,0,0.1);
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	overflow-y: scroll;
}

#credits-box span {
	width: 100%;
	height: 20%;
	margin: 2em 0 2em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#credits-box h3{
	color: indigo;
	margin: 0;
}

#credits-box p {
	color: whitesmoke;
	font-size: 1.1em;
}

#credits-box button{
	color: whitesmoke;
	width: auto;
	height: 1.8em;
	background-color: blue;
}

section#game #accounts {
	width: 80%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#account-a , #account-b {
	width: 100%;
	height: 30%;
	background-color: rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#accounts button {
	color: whitesmoke;
	font-family: monospace;
	background-color: blue;
	font-size: 1em;
	width: 5em;
	height: 1.8em;
}

#accounts h3, #accounts h2 {
	color: indigo;
	margin: 0;
}

#accounts p {
	color: white;
	font-size: 1.2em;
	margin: 0;
}

:-webkit-full-screen {
  background-color: #33FCFF;
  
}

:-ms-fullscreen {
  background-color: #33FCFF;
  
}

:fullscreen {
  background-color: #33FCFF;
  
}